@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

body{
  font-family: 'Space Mono', monospace;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
  background: rgb(0, 0, 0);
}

p{
  margin-bottom: 1.6em;
}

/*
.container
*/

.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

  .container a{
    text-decoration: underline;
  }

  .logo-nav-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

.menu-icon{
  display: none;
}

/*
.header
*/

.header{
  background: rgb(0, 0, 0);
  color: white;
  padding: 2rem 0;
}

.header a{
  color: white;
  text-decoration: none;
}

/*
.navigation
*/

.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

  .navigation ul li{
      display: inline-block;
  }

      .navigation ul li a{
          display: block;
          padding: 0.5rem 1rem;
          transition: all 0.4s linear;
          border-radius: 0px;
      }

          .navigation ul li a:hover{
              background: #4a4a4a;
          }

/*
.footer
*/

.footer{
  background: rgb(0, 0, 0);
  padding: 0.5rem 0;
  text-align: center;
  margin-top: 6rem;
}

/*
.logos
*/

.logos{
  width: 150px;
}

/*
@media
*/

@media only screen and (max-width: 835px){

  .menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 0px;
  }
  
  .menu-icon:hover{
    background: #4a4a4a;
  }
  
  .navigation{
    width: 100%;
    margin-top: 1rem;
  }
  
    .navigation ul{
      display: none;
    }
  
    .navigation ul.show{
      display: block;
    }
  
    .navigation ul li{
      display: block;
    }
    
      .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 0px;
      }
    
        .navigation ul li a:hover{
          background: #4a4a4a;
        }
  
  }
  
/* EXTRAS */

/* Alternatives seen by screen readers and computers only. */
.visually-hidden {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: -99999px;
}
  
/* Some niceties: */
hr { border: none; width: 50%; height: 3px; background-color: #e08010; }
a { color: rgb(255, 255, 255); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); }
cite { font-style: normal; }
.code { color: #acacac;}
  